Search: <input ng-model="searchText" class="box">
<hr />
<div class="container">
    <div ng-show="searchText.length > 0" ng-repeat="result in results | filter:searchText">
        <div class="row">
            <div class="col-md-6 box">
                <h3>{{ result.food }}</h3>
            </div>
            <div class="col-md-6 box">
                <input type="checkbox" ng-click="saveResult(result)"> Save Result
            </div>
        </div>
        <div class="row indent">
            <span ng-repeat="sub in result.subs">
                {{sub}}<span ng-show=" ! $last ">, </span>
            </span>
        </div>
    </div>

    <div>
    <h2>Your Saved List</h2>
    <div ng-repeat="item in user.savedResults">
        {{ item.food }}
    </div>
</div>

