<h1>Your Munch Profile</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col-sm-4"><img src="img/Yellow_Munch.jpg" width="120px" /></div>
        <div class="col-sm-8">
            <h2>{{user.username}}</h2>
            <h4>{{user.firstname}} {{user.lastname}}</h4>
        </div>
    </div>
    <div class="row">
        <h2>Restrictions</h2>
        <form name="newRestrictionForm">
            <input ng-model="newRestriction.food" type="text" id="new-restriction-food" placeholder="add food..." required />
            <input ng-model="newRestriction.severity" type="text" id="new-restriction-severity" placeholder="add restriction..." required />
            <br /><br />
            <a id="new-{{type}}-submit" class="btn btn-success" ng-disabled="newRestrictionForm.$invalid" ng-click="addRestriction(newRestriction)">Add New Restriction</a>
        </form>
        <hr />
        <ul class="big-list">
            <li ng-repeat="item in user.restrictions" class="severity-{{item.severity}}"><strong>{{item.food}}</strong> [{{item.severity}}]</li>
        </ul>
    </div>
    <div class="row notesbox">
        <h2>Notes</h2>
        <div class="notesBody">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed urna vitae massa tempus ullamcorper interdum ac ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis adipiscing tortor rutrum tortor vehicula cursus. Sed a malesuada tortor. Phasellus libero erat, luctus vitae urna non, mattis laoreet mi. Maecenas a metus id lorem pretium aliquet. Vestibulum ultrices velit at magna imperdiet volutpat. Praesent et varius est. Fusce nec massa in mauris placerat rutrum scelerisque ut augue.
        </div>
    </div>
    <div class="row box">
        <h2>Saved Results</h2>
        <ul>
            <li ng-repeat="item in user.savedResults">{{item.food}}</li>
        </ul>
    </div>
</div>


