body{
    background: url("../img/Banner_Image.png") no-repeat;
    margin-left: auto;
    margin-right: auto;

}
.top-nav {
    background-color: #363636;
    font: #ffffff;
}
.box {
    border: 1px solid #efefef !important;
}
.padding-top {
    padding-top: 20px;
}
.margin-bottom {
    margin-bottom: 5px;
}
.indent {
    padding-left: 30px;
}
.severity-allergy {
    color: red;
}
.severity-intolerance {
    color: orange;
}
.severity-preference {
    color: blue;
}
.severity-default {
    color: green;
}
.is-restricted-true {
    font-weight: bold;
    background: purple;
    color: white;
}
.big-list li {
    font-size: 1.2em;
}
.navbar-brand {
    padding-right: 20px;
}
/* search */
input[type=search], input[type=text] {    
    padding: 30px;
    width: 500px;
    border: 2px solid gray;
    font-size: 2em;
    margin-bottom: 5px;
}