.box {
    border: 1px solid #efefef !important;
}
.padding-top {
    padding-top: 20px;
}
.margin-bottom {
    margin-bottom: 5px;
}
.indent {
    padding-left: 30px;
}
.severity-allergy {
    color: red;
}
.severity-intolerance {
    color: orange;
}
.severity-preference {
    color: blue;
}
.severity-default {
    color: green;
}
.is-restricted-true {
    font-weight: bold;
    background: purple;
    color: white;
}