body{
    background: url("../img/Banner_Image.jpg") no-repeat;
    margin-left: auto;
    margin-right: auto;
    color:#ffffff;
    padding:10px;

}
hr {
    width: 90%;
}
#mini_profile{
    background: url("../imgProfile_bg.png") repeat-x;
}
#main {
    background-color: rgba(255,255,255,0.3);

}
.notesBody{
    padding: 15px;
}
.top-nav {
    background-color: #363636;
    font: #ffffff;
}
.navbar-nav>li>a {
    padding-top: 30px;
    font-size: 1.8em;
}
.box {
    border: 1px solid #efefef !important;
}
.notesbox {
    width: 1100px;
}
.padding-top {
    padding-top: 20px;
}
.margin-bottom {
    margin-bottom: 5px;
}
.indent {
    padding-left: 30px;
}
.btn-success {
    font-size: 2em;
}
.severity-allergy {
    background: red;
    padding: 5px;
    color: white;
}
.severity-intolerance {
    background: orange;
    padding: 5px;
    color: white;
}
.severity-preference {
    background: blue;
    padding: 5px;
    color: white;
}
.severity-default {
    background: green;
    padding: 5px;
    color: white;
}
.is-restricted-true {
    font-weight: bold;
    background: #ffaa00;
    color: white;
    padding: 4px;
}
.big-list li {
    font-size: 1.2em;
    font-color: #ffffff;
}
.navbar-brand {
    padding-right: 20px;
}
/* search */
input[type=search], input[type=text] {    
    padding: 30px;
    width: 500px;
    border: 2px solid gray;
    font-size: 2em;
    margin-bottom: 5px;
}