body{
    background: url("../img/Banner_Image.png") no-repeat;
    margin-left: auto;
    margin-right: auto;
    color:#ffffff;
    padding:10px;

}
#mini_profile{
    background: url("../imgProfile_bg.png") no-repeat;
}
#main {
    background-color: rgba(255,255,255,0.3);

}
.notesBody{
    padding: 15px;
}
.top-nav {
    background-color: #363636;
    font: #ffffff;
}
.box {
    border: 1px solid #efefef !important;
}
.notesbox {
    border: 1px solid #efefef !important;
    width: 1100px;
}
.padding-top {
    padding-top: 20px;
}
.margin-bottom {
    margin-bottom: 5px;
}
.indent {
    padding-left: 30px;
}
.severity-allergy {
    color: red;
}
.severity-intolerance {
    color: orange;
}
.severity-preference {
    color: blue;
}
.severity-default {
    color: green;
}
.is-restricted-true {
    font-weight: bold;
    background: #ffaa00;
    color: white;
    padding: 4px;
}
.big-list li {
    font-size: 1.2em;
    font-color: #ffffff;
}
.navbar-brand {
    padding-right: 20px;
}
/* search */
input[type=search], input[type=text] {    
    padding: 30px;
    width: 500px;
    border: 2px solid gray;
    font-size: 2em;
    margin-bottom: 5px;
}